Question 1: Write a program to import a dataset from current directory

In [6]:
import pandas as pd
df = pd.read_csv(r"E:\epl_2018- 2019.csv")
print(df)

                 Team                        category  \
0     Manchester City                Champions League
1           Liverpool                Champions League
2             Chelsea  Champions League Qualification
3           Tottenham  Champions League Qualification
4             Arsenal                   Europa League
5   Manchester United                   Europa League
6       Wolverhampton     Europa League Qualification
7             Everton            No UEFA Competitions
8           Leicester            No UEFA Competitions
9            West Ham            No UEFA Competitions
10            Watford            No UEFA Competitions
11     Crystal Palace            No UEFA Competitions
12          Newcastle            No UEFA Competitions
13        Bournemouth            No UEFA Competitions
14            Burnley            No UEFA Competitions
15        Southampton            No UEFA Competitions
16           Brighton            No UEFA Competitions
17            Cardiff                       Relegated
18             Fulham                       Relegated
19       Huddersfield                       Relegated

    general_league_position  finance _live_games_televised  \
0                         1                             26
1                         2                             29
2                         3                             25
3                         4                             26
4                         5                             25
5                         6                             27
6                         7                             15
7                         8                             18
8                         9                             15
9                        10                             16
10                       11                             10
11                       12                             12
12                       13                             19
13                       14                             10
14                       15                             11
15                       16                             10
16                       17                             13
17                       18                             12
18                       19                             13
19                       20                             10

    general_matches_played  general_won  general_draw  general_lost  \
0                       38           32             2             4
1                       38           30             7             1
2                       38           21             9             8
3                       38           23             2            13
4                       38           21             7            10
5                       38           19             9            10
6                       38           16             9            13
7                       38           15             9            14
8                       38           15             7            16
9                       38           15             7            16
10                      38           14             8            16
11                      38           14             7            17
12                      38           12             9            17
13                      38           13             6            19
14                      38           11             7            20
15                      38            9            12            17
16                      38            9             9            20
17                      38           10             4            24
18                      38            7             5            26
19                      38            3             7            28

    attack_scored  defence_goals_conceeded  ...  Unnamed: 29  Unnamed: 30  \
0              95                       23  ...          NaN          NaN
1              89                       22  ...          NaN          NaN
2              63                       39  ...          NaN          NaN
3              67                       39  ...          NaN          NaN
4              73                       51  ...          NaN          NaN
5              65                       54  ...          NaN          NaN
6              47                       46  ...          NaN          NaN
7              54                       46  ...          NaN          NaN
8              51                       48  ...          NaN          NaN
9              52                       55  ...          NaN          NaN
10             52                       59  ...          NaN          NaN
11             51                       53  ...          NaN          NaN
12             42                       48  ...          NaN          NaN
13             56                       70  ...          NaN          NaN
14             45                       68  ...          NaN          NaN
15             45                       65  ...          NaN          NaN
16             35                       60  ...          NaN          NaN
17             34                       69  ...          NaN          NaN
18             34                       81  ...          NaN          NaN
19             22                       76  ...          NaN          NaN

    Unnamed: 31  Unnamed: 32  Unnamed: 33  Unnamed: 34  Unnamed: 35  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
5           NaN          NaN          NaN          NaN          NaN
6           NaN          NaN          NaN          NaN          NaN
7           NaN          NaN          NaN          NaN          NaN
8           NaN          NaN          NaN          NaN          NaN
9           NaN          NaN          NaN          NaN          NaN
10          NaN          NaN          NaN          NaN          NaN
11          NaN          NaN          NaN          NaN          NaN
12          NaN          NaN          NaN          NaN          NaN
13          NaN          NaN          NaN          NaN          NaN
14          NaN          NaN          NaN          NaN          NaN
15          NaN          NaN          NaN          NaN          NaN
16          NaN          NaN          NaN          NaN          NaN
17          NaN          NaN          NaN          NaN          NaN
18          NaN          NaN          NaN          NaN          NaN
19          NaN          NaN          NaN          NaN          NaN

    Unnamed: 36  Unnamed: 37  Unnamed: 38
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
5           NaN          NaN          NaN
6           NaN          NaN          NaN
7           NaN          NaN          NaN
8           NaN          NaN          NaN
9           NaN          NaN          NaN
10          NaN          NaN          NaN
11          NaN          NaN          NaN
12          NaN          NaN          NaN
13          NaN          NaN          NaN
14          NaN          NaN          NaN
15          NaN          NaN          NaN
16          NaN          NaN          NaN
17          NaN          NaN          NaN
18          NaN          NaN          NaN
19          NaN          NaN          NaN

[20 rows x 39 columns]

Question 2: Write a program to import a dataset and print the column name and size of the imported dataset.

In [12]:
import pandas as pd
df = pd.read_csv(r"E:\epl_2018- 2019.csv")
print("Column names: ",list(df.columns))
print("Size of Data Frame: ",df.size)

Column names:  ['Team', 'category', 'general_league_position', 'finance _live_games_televised', 'general_matches_played', 'general_won', 'general_draw', 'general_lost', 'attack_scored', 'defence_goals_conceeded', 'general_goal_difference', 'general_points', 'general_squad_size', 'general_squad_average_age', 'general_squad_foreigners', 'attack_pass_accuracy', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38']
Size of Data Frame:  780

Question 3: Write a program to import a dataset find the number of missing values of each column.

In [13]:
import pandas as pd
df = pd.read_csv("E:\epl_2018- 2019.csv")
df.isnull().sum()

Team                              0
category                          0
general_league_position           0
finance _live_games_televised     0
general_matches_played            0
general_won                       0
general_draw                      0
general_lost                      0
attack_scored                     0
defence_goals_conceeded           0
general_goal_difference           0
general_points                    0
general_squad_size                0
general_squad_average_age         0
general_squad_foreigners          0
attack_pass_accuracy              0
Unnamed: 16                      20
Unnamed: 17                      20
Unnamed: 18                      20
Unnamed: 19                      20
Unnamed: 20                      20
Unnamed: 21                      20
Unnamed: 22                      20
Unnamed: 23                      20
Unnamed: 24                      20
Unnamed: 25                      20
Unnamed: 26                      20
Unnamed: 27                      20
Unnamed: 28                      20
Unnamed: 29                      20
Unnamed: 30                      20
Unnamed: 31                      20
Unnamed: 32                      20
Unnamed: 33                      20
Unnamed: 34                      20
Unnamed: 35                      20
Unnamed: 36                      20
Unnamed: 37                      20
Unnamed: 38                      20
dtype: int64

Question 4: Write a program to import a dataset and find the average of the column having integer/decimal datatype.

In [17]:
import pandas as pd
df = pd.read_csv(r"E:\epl_2018- 2019.csv")
average = df.mean(axis=0)
print(average)

general_league_position          10.50
finance _live_games_televised    17.10
general_matches_played           38.00
general_won                      15.45
general_draw                      7.10
general_lost                     15.45
attack_scored                    53.60
defence_goals_conceeded          53.60
general_goal_difference           0.00
general_points                   53.45
general_squad_size               25.25
general_squad_average_age        27.49
general_squad_foreigners         17.45
attack_pass_accuracy             78.31
Unnamed: 16                        NaN
Unnamed: 17                        NaN
Unnamed: 18                        NaN
Unnamed: 19                        NaN
Unnamed: 20                        NaN
Unnamed: 21                        NaN
Unnamed: 22                        NaN
Unnamed: 23                        NaN
Unnamed: 24                        NaN
Unnamed: 25                        NaN
Unnamed: 26                        NaN
Unnamed: 27                        NaN
Unnamed: 28                        NaN
Unnamed: 29                        NaN
Unnamed: 30                        NaN
Unnamed: 31                        NaN
Unnamed: 32                        NaN
Unnamed: 33                        NaN
Unnamed: 34                        NaN
Unnamed: 35                        NaN
Unnamed: 36                        NaN
Unnamed: 37                        NaN
Unnamed: 38                        NaN
dtype: float64