# Functions

In [1]:
def display_name():
    print("John")

In [2]:
display_name()

John

In [3]:
display_age()

NameError: name 'display_age' is not defined

In [4]:
def display_age():
    print(30)

In [5]:
display_age()

30

In [11]:
def display_names(names):
    for name in names:
        print(name)

In [12]:
display_names("Michael", "John", "Jack")

TypeError: display_names() takes 1 positional argument but 3 were given

In [13]:
#For multiple arguments use *
def display_names(*names):
    for name in names:
        print(name)

In [14]:
display_names("Michael", "John", "Jack")

Michael
John
Jack

## Default Values for parameters

In [17]:
def display_name_age(name="Michael", age=30):
    print(f"{name} is {age} years old")

In [18]:
display_name_age("John", 50)

John is 50 years old

In [19]:
display_name_age("John")

John is 30 years old

In [20]:
display_name_age(age=40)

Michael is 40 years old

In [21]:
display_name_age(40)

40 is 30 years old

In [22]:
display_name_age()

Michael is 30 years old

## Return

In [24]:
print(f"Returned Data: {display_name_age()}")

Michael is 30 years old
Returned Data: None

## Global

In [25]:
i = 10
def func():
    global i
    i += 20
    print(f"Inside {id(i)}: {i}")
func()
print(f"Outside {id(i)}: {i}")

Inside 140713564244544: 30
Outside 140713564244544: 30

In [26]:
def factorial(n):
    f = 1
    for i in range(2, n+1):
        f*=i
    return f

In [27]:
factorial(5)

120

In [1]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)

In [2]:
factorial(5)

120

## Lambda

In [1]:
def average(ar):
    return sum(ar)/len(ar)
print(average([10, 20, 30])

20.0

In [2]:
#Syntax: Lambda parameter(s): expression

In [3]:
average2 = lambda ar: sum(ar)/len(ar)

In [4]:
print(average2([10, 20, 30]))

20.0

In [5]:
square = lambda x:x**2
list(map(square, [10, 20, 30]))

[100, 400, 900]

In [6]:
#alternative
list(map(lambda x:x**2, [10, 20, 30]))
#if we do not need the function in future, then this method is preferred because it won't use up memory

[100, 400, 900]

In [7]:
even = lambda x: x % 2 == 0
print(even(10))

True

In [8]:
#Our own map function
def my_map(func, ar):
    ar2 = []
    for i in ar:
        ar2.append(func(i))
    return ar2

In [9]:
my_map(lambda x: x ** 2, [10, 20, 30])

[100, 400, 900]

In [12]:
#Convert the above function to list comprehension
def my_map(func, ar):
    return [func(i) for i in ar]

In [13]:
my_map(lambda x: x ** 2, [10, 20, 30])

[100, 400, 900]

In [23]:
import math
def func2(x):
    if isinstance(x, str):
        return x
    elif isinstance(x, bool):
        return not x
    elif isinstance(x, int):
        #boolean is a subtype of integer
        #so, isinstance of a boolean will also work with int
        #this case needs to be above int
        return math.factorial(x)

my_map(func2, [10, 20, 30, "Hello", True, "ABCD", 100])

[3628800,
 2432902008176640000,
 265252859812191058636308480000000,
 'Hello',
 False,
 'ABCD',
 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000]