# Python Assignment Solution

This is an easy assignment to test your overall knowledge and mastery of fundamentdals of Python. The expected output of all the questions will also be given. Write your answer in the proper designated cell. Do not write the answer in the cell where the desired output is given. Write the answer acording to the instructions given in the question and replicate the output.

**1. Declare a variable named `first_name`, assign the value "James" (or 'James') to it and then print it.**

In [ ]:
# Your answer goes here
first_name = "James"
print(first_name)

In [ ]:
# Do not write anything here

James

**2. Given a variable named `temp = 100`, write the code to prints it's data type.**

In [2]:
temp = 100
type(temp)

int

In [ ]:
# Do not write anything here

<class 'int'>

**3. Write the single line of missing code to get the desired output.**

In [3]:
# Write only one line of code below (do not change the code at the bottom)
print("Hello", end='_')
print("World")

Hello_World

In [ ]:
# Do not write anything here

Hello_World

**4. For `var = 15 + 21j`, print the desired output.**

In [4]:
var = 15 + 21j
print(var.imag + var.real)

36.0

In [ ]:
# Do not write anything here

36.0

**5. Create a string `s` with the value `'Python'` and then print it's length.**

In [5]:
s = "Python"
print(len(s))

6

In [ ]:
# Do not write anything here

6

**6. Check if first letter of every word in a given string `s = "Hello World"` is upper case or not.**

In [12]:
s = "Hello World"
arr = s.split()
f = 0
for i in arr:
    if i[0].isupper():
        f = 1
    else:
        f = 0
        break
        
if f==1:
    print("True")
else:
    print("False")

True

In [ ]:
# Do not write anything here

True

**7. Convert the string `s = "Hello World"` to upper case without using the function `upper()`.**

In [18]:
s = "Hello World"
t = ""
for i in s:
    if ord(i) >= 97 and ord(i) <= 122:
        x = chr(ord(i) - 32)
        t = t+x
    else:
        t = t+i
print(t)
# Your answer goes here

HELLO WORLD

In [ ]:
# Do not write anything here

'HELLO WORLD'

**8. Convert only the first and last character of `s = "hello world"` to upper case.**

In [20]:
s = "hello world"
print(s[0].upper()+s[1:10]+s[10].upper())
# Your answer goes here

Hello worlD

In [ ]:
# Do not write anything here

'Hello worlD'

**9. In the string `s = "My name is John."` replace 'a' by 'p' and 'n' by 'q'.**

In [22]:
s = "My name is John."
t = ""
for i in s:
    if i=='a':
        t = t + 'p'
    elif i=='n':
        t = t + 'q'
    else:
        t = t + i
print(t)

# x = s.replace('a', 'p')
# y = x.replace('n', 'q')
# print(y)
# Your answer goes here

My qpme is Johq.
My qpme is Johq.

In [ ]:
# Do not write anything here

'My qpme is Johq.'

**10. Check if all characters in a string `s = "Hello123"` are alphanumeric.**

In [26]:
s = "Hello123"
s.isalnum()

True

In [ ]:
# Do not write anything here

True

**11. Get the desired output with a single print statement.**

In [27]:
print("Hello\nWorld")

Hello
World

In [ ]:
# Do not write anything here

Hello
World

**12. Print the value of 19 raised to the power of 5.**

In [30]:
print(float(19 ** 5))

2476099.0

In [ ]:
# Do not write anything here

2476099.0

**13. Using `s = "Hello John.\n Good Morning!"`, obtain a list as shown in output.**

In [33]:
s = "Hello John.\n Good Morning!"
arr = s.split(' ')
print(arr)

['Hello', 'John.\n', 'Good', 'Morning!']

In [ ]:
# Do not write anything here

['Hello', 'John.\n', 'Good', 'Morning!']

**14. Given `name = 'Michael'` and `marks = 80` print the desired output using `format()`.**

In [38]:
name ="Michael"
marks = 80
sentence = "{} has recieved {} marks in the last exam."
print(sentence.format(name, marks))

#print(f"{name} has recieved {marks} marks in the last exam")

Michael has recieved 80 marks in the last exam.

In [ ]:
# Do not write anything here

Michael has received 80 marks in the last exam.

**15. Prompt the user to input their first name, and store it in a variable called `name`. Then print whether the name is `"John"` True or False.**

In [41]:
name = input("Enter first name: ")
if name=="John":
    print(True)
else:
    print(False)

Enter first name:  John

True

In [ ]:
# Do not write anything here

Enter first name: John
True

**16. For `ar = [-99, -20, 19, 50, 89, 100]` check which of the values lie within a range of [-20, 100).**

In [42]:
ar = [-99, -20, 19, 50, 89, 100]
for i in ar:
    print(f"{i}: {i in range(-20, 100)}")

-99: False
-20: True
19: True
50: True
89: True
100: False

In [ ]:
# Do not write anything here

-99: False
-20: True
19: True
50: True
89: True
100: False

**17. Take two integer inputs from the user and check if they are equal.**

In [43]:
x = int(input())
y = int(input())
if x==y:
    print(True)
else:
    print(False)

 20
 20

True

In [ ]:
# Do not write anything here

20
20
True

**18. You have 3 numbers a, b, c. Check if their sum is equal to 20, less than 20 and greater than 20.**

In [44]:
a = int(input())
b = int(input())
c = int(input())
print(f"a:{a}, b:{b}, c:{c}")
print(f"Sum is equal to 20: {(a+b+c)==20}")
print(f"Sum is less than 20: {(a+b+c)<20}")
print(f"Sum is greater than 20: {(a+b+c)>20}")

 10
 15
 3

a:10, b:15, c:3
Sum is equal to 20: False
Sum is less than 20: False
Sum is greater than 20: True

In [1]:
# Do not write anything here

a: 10, b: 15, c: 3
Sum is equal to 20: False
Sum is less than 20: False
Sum is greater than 20: True

**19. Calculate nad print the area of a circle with radius `r = 15`**

In [48]:
import math
r = 15
print("Area: ",math.pi*r*r)

Area:  706.8583470577034

In [ ]:
# Do not write anything here

Area: 706.8583470577034

**20. Print the factorial of 12 using the math library.**

In [49]:
math.factorial(12)

479001600

In [ ]:
# Do not write anything here

479001600

**21. Calculate the highest common factor of 25 and 15.**

In [50]:
math.gcd(25, 15)

5

In [ ]:
# Do not write anything here

5

**22. Find the value of sec(81 degrees).**

In [54]:
1/math.cos(math.degrees(81))

-1.474979393090726

In [ ]:
# Do not write anything here

6.392453221499659

**23. Find the value of `log(25)` with base 5.**

In [56]:
math.log(25, 5)

2.0

In [ ]:
# Do not write anything here

2.0

**24. Unpack the tuple `t = (55, 81, 9)` into three variable a, b and c, and print them as shown.**

In [57]:
t = (55, 81, 9)
(a, b, c) = t
print(a, b, c)

55 81 9

In [ ]:
# Do not write anything here

55 81 9

**25. Given a tuple `t = (10, 30, 5, 18, 7)`, print it's reverse.**

In [58]:
t = (10, 30, 5, 18, 7)
t[::-1]

(7, 18, 5, 30, 10)

In [ ]:
# Do not write anything here

(7, 18, 5, 30, 10)

**26. Find the index of the element `29` in the list `ar = [21, 15, 9, 7, 18, 29, 56, 17, 3]` and replace it by `1000`. Finally print the updated list.**

In [59]:
ar = [21, 15, 9, 7, 18, 29, 56, 17, 3]
i = ar.index(29)
ar[i] = 1000
print(ar)

[21, 15, 9, 7, 18, 1000, 56, 17, 3]

In [ ]:
# Do not write anything here

[21, 15, 9, 7, 18, 1000, 56, 17, 3]

**27. Given two lists `ar1 = [1, 2, 3, 4, 5]` and `ar2 = [10, 20, 30, 40, 50]`, print them as shown.**

In [68]:
ar1 = [1, 2, 3, 4, 5]
ar2 = [10, 20, 30, 40, 50]
ar3 = []
for i in range(len(ar1)):
    ar3.append((ar1[i], ar2[i]))
print(ar3)

[]

In [ ]:
# Do not write anything here

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

**28. Divide the list `ar = [21, 15, 9, 7, 18, 29, 56, 17, 3]` into 3 equal parts, reverse them and join them. Print the megred list.**

In [77]:
ar = [21, 15, 9, 7, 18, 29, 56, 17, 3]
ar1 = ar[-7:-10:-1]
ar2 = ar[-4:-7:-1]
ar3 = ar[-1:-4:-1]
print(ar1+ar2+ar3)

[9, 15, 21, 29, 18, 7, 3, 17, 56]

In [ ]:
# Do not write anything here

[9, 15, 21, 29, 18, 7, 3, 17, 56]

**29. Given a list `ar = [1, 5, 7, 3, 9, 2, 4]`, remove the middle element and add it to the beginning and end of the list.**

In [79]:
ar = [1, 5, 7, 3, 9, 2, 4]
ar.remove(3)
ar.insert(0, 3)
ar.append(3)
print(ar)

[3, 1, 5, 7, 9, 2, 4, 3]

In [ ]:
# Do not write anything here

[3, 1, 5, 7, 9, 2, 4, 3]

**30. Given a list `ar = [1, 2, [10, 20, [30, 40], 50, 60], 3]` insert `70` right between `30` and `40` and then print the modified list.**

In [82]:
ar = [1, 2, [10, 20, [30, 40], 50, 60], 3]
ar[2][2].insert(1, 70)
print(ar)

[1, 2, [10, 20, [30, 70, 40], 50, 60], 3]

In [ ]:
# Do not write anything here

[1, 2, [10, 20, [30, 70, 40], 50, 60], 3]

**31. Given a variable named `s = "Hello World"`, write the code to print only those characters which are present at odd index.**

In [92]:
s = "Hello World"
print(s[1:11:2])

el ol

In [ ]:
# Do not write anything here

e
l

o
l

**32. Given a list `ar = [10, 21, 15, 14, 63, 18, 71, 56]`, print the sum of all the values in the list which are divisible by 7.**

In [93]:
ar = [10, 21, 15, 14, 63, 18, 71, 56]
total = 0
for i in ar:
    if i%7==0:
        total += i
print(total)

154

In [ ]:
# Do not write anything here

154

**33. Print the pattern without using nested loop.**

In [37]:
for i in range(0, 5):
    print(' '*(5-i), str(i+1)*(2*i+1))

for j in range(4, 0, -1):
    print(' '*(6-j), str(j)*(2*j-1))

      1
     222
    33333
   4444444
  555555555
   4444444
    33333
     222
      1

In [ ]:
# Do not write anything here

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

**34. Take an integer number as input from the user ad check if the number remains same on reversing it. (You should use `int(input())` to take input)**

In [99]:
n = int(input())
r = 0
n1 = n
while n>0:
    d = n%10
    r = r*10+d
    n = n//10

if n1 == r:
    print(True)
else:
    print(False)

 101

True

In [ ]:
# Do not write anything here

101
True

**35. Given two sets `set1 = {1, 3, 5, 4, 8}` and `set2 = {3, 7, 8, 9, 11}`, print the set of elements that are present in both sets.**

In [103]:
set1 = {1, 3, 5, 4, 8}
set2 = {3, 7, 8, 9, 11}
print(set1.intersection(set2))

{8, 3}

In [102]:
# Do not write anything here

**36. Given two lists `item = ['A', 'B', 'C', 'D']` and `cost = [30, 50, 25, 80]`, create a dictionary using these two lists where the item is the key and the cost is the value**

In [106]:
item = ['A', 'B', 'C', 'D']
cost = [30, 50, 25, 80]
# temp = zip(item, cost)
# d = dict(temp)
# print(d)

d = {}
for i in range(len(item)):
    d[item[i]] = cost[i]
print(d)

{'A': 30, 'B': 50, 'C': 25, 'D': 80}

In [ ]:
# Do not write anything here

{'A': 30, 'B': 50, 'C': 25, 'D': 80}

**37. Given a dictionary `dict_a = {'A': [1, 5, 6, 8, [10, "ABCD"], 5 + 7j], 'B': [10, 20, 30, [40, {"Hello": ['My name is John']}]]}` access and print the name `'John'` from it.**

In [116]:
dict_a = {'A': [1, 5, 6, 8, [10, "ABCD"], 5 + 7j], 'B': [10, 20, 30, [40, {"Hello": ['My name is John']}]]}
dict_a['B'][3][1]['Hello'][0][11:15]

'John'

In [ ]:
# Do not write anything here

John

**38. Check if the value `100` is one the values in the dictionary `d = {'a': 20, 'b': 70, 'c': 100, 'd': 119}`.**

In [118]:
d = {'a': 20, 'b': 70, 'c': 100, 'd': 119}
for k, v in d.items():
    if d[k] == 100:
        print(True)
        break

True

In [ ]:
# Do not write anything here

True

**39. Given a list `ar = [5, 6, 1, 3, 7, 7, 7, 6, 4, 6, 5, 4, 4, 5, 4, 4, 7, 2, 6, 2]`, count the occurrence of all the unique elements of the list and create a dictionary where the keys are the elements of the list and the values are their corresponding count.**

In [119]:
# Your answer goes here
ar = [5, 6, 1, 3, 7, 7, 7, 6, 4, 6, 5, 4, 4, 5, 4, 4, 7, 2, 6, 2]
d = {}
for i in ar:
    d[i] = ar.count(i)

print(d)

{5: 3, 6: 4, 1: 1, 3: 1, 7: 4, 4: 5, 2: 2}

In [ ]:
# Do not write anything here

{5: 3, 6: 4, 1: 1, 3: 1, 7: 4, 4: 5, 2: 2}

**40. Input a positive integer from the user and calculate of sum of all even numbers from 2 to that number (included).**

In [121]:
n = int(input("Enter a number"))
total = 0
for i in range(2, n+1):
    if i%2==0:
        total += i

print("Sum: ",total)

Enter a number 100

Sum:  2550

In [ ]:
# Do not write anything here

Enter a number: 100
Sum: 2550

**41. Input a number from the user and count the sum of digits. If the sum is greater than 20, print `"Hello"`, otherwise print `"World"`.**

In [124]:
n = int(input("Enter a number: "))
total = 0
while(n>0):
    d = n%10
    total += d
    n = n/10

if total>20:
    print("Hello")
else:
    print("World")

Enter a number:  2983

Hello

In [ ]:
# Do not write anything here

Enter a number: 2983
Hello

**42. Repeatedly take a number as input from the user. Stop when any of the inputs is greater than 100 or less than 0.**

In [125]:
while(True):
    n = int(input("Enter number: "))
    if n > 100 or n < 0:
        print("Stopped")
        break

Enter number:  20
Enter number:  0
Enter number:  80
Enter number:  100
Enter number:  19
Enter number:  56
Enter number:  101

Stopped

In [ ]:
# Do not write anything here

Enter number: 20
Enter number: 0
Enter number: 80
Enter number: 100
Enter number: 19
Enter number: 56
Enter number: 101
Stopped

**43. Write a function `func(s)` in which the input is an email and the output should be the part of the email before the '@'. `func("JohnDoe@gmail.com")` should give `'JohnDoe'`.**

In [126]:
def func(s):
    t = ""
    for i in s:
        if i!='@':
            t += i
        else:
            break
    return t

x = input()
print(func(x))

 JohnDoe@gmail.com

JohnDoe

In [ ]:
# Do not write anything here

'JohnDoe'

**44. Write a function `reverse(s)` that recursively reverses a string. `reverse("Hello World")` should give the output `'dlroW olleH'`.**

In [127]:
def reverse(s):
    if len(s) == 0:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse("Hello World")

'dlroW olleH'

In [ ]:
# Do not write anything here

'dlroW olleH'

**45. Write a function `unique(ar)` that takes a list and returns a copy of the list in descending order with all the duplicates removed. Use `ar = [5, 6, 1, 3, 7, 7, 7, 6, 4, 6, 5, 4, 4, 5, 4, 4, 7, 2, 6, 2]` and call the function as `unique(ar)`.**

In [1]:
def unique(ar):
    ar1 = list(set(ar))
    return sorted(ar1, reverse=True)

ar = [5, 6, 1, 3, 7, 7, 7, 6, 4, 6, 5, 4, 4, 5, 4, 4, 7, 2, 6, 2]
print(unique(ar))

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Do not write anything here

[7, 6, 5, 4, 3, 2, 1]

**46. Create a class named `Example` that doesn't contain any parameter or method. Then create an object of that class and print it.**  
(In the output, the part after the 'object at' will be different for you)

In [132]:
class Example:
    pass
a = Example()
print(a)

<__main__.Example object at 0x00000187AA3C2790>

In [ ]:
# Do not write anything here

<__main__.Example object at 0x000002576663AE20>

**47. Given the following class `Employee`, create a class `Intern` that will inherit all the properties of Employee, along with another paramater `duration` and a method `display(self)` that will display all the propertieso of `Intern`. Then create an object on the class `Intern` and call the `display` method.**

In [137]:
class Employee:
    def __init__(self, name, emp_id, salary):
        self.name = name
        self.salary = salary
        self.emp_id = emp_id

class Intern(Employee):
    def __init__(self, name, emp_id, salary, duration):
        super().__init__(name, emp_id, salary)
        self.duration = duration
    
    def display_details(self):
        print("Name: ", self.name)
        print("ID: ", self.emp_id)
        print("Salary: ", self.salary)
        print("Duration: ", self.duration)

a = Intern("Michael", 1234, 210000, 12)
a.display_details()

Name:  Michael
ID:  1234
Salary:  210000
Duration:  12

In [ ]:
# Do not write anything here

Name: Michael
ID: 1234
Salary: 210000
Duration: 12