<center><h1>Loops</h1><center>

## While Loop

In [3]:
i = 0
while i < 5:
    print(f"Inside while loop {i}")
    i += 1
print("After while loop")

Inside while loop 0
Inside while loop 1
Inside while loop 2
Inside while loop 3
Inside while loop 4
After while loop

### Nested while loop

In [5]:
i = 0
while i < 3:
    j = 0
    while j < 3:
        print(f"{i} {j}")
        j += 1
    print("End of inner loop")
    i += 1
print("End of outer loop")

0 0
0 1
0 2
End of inner loop
1 0
1 1
1 2
End of inner loop
2 0
2 1
2 2
End of inner loop
End of outer loop

### Break and Continue

In [6]:
i = 0
while True:
    i += 1
    if i == 2:
        continue
    elif i == 6:
        break
    print(i)
print("Outside while loop")

1
3
4
5
Outside while loop

## For Loop

### Iterating over list

In [8]:
names = ["Michael", "James", "John"]
for name in names:
    print(f"My name is {name}.")

My name is Michael.
My name is James.
My name is John.

### Iterating over tuple

In [9]:
t = (10, 20, 30)
for i in t:
    print(i)

10
20
30

### Iterating over set

In [10]:
set_a = {10, "Hello", 3.14}
for i in set_a:
    print(i)

10
3.14
Hello

### Iterating over Dictionary

In [14]:
marks = {
    "John": 80,
    "Arthur": 85,
    "Jake": 75
}

In [15]:
for value in marks.values():
    print(value)

80
85
75

In [16]:
for key, value in marks.items():
    print(key, value)

John 80
Arthur 85
Jake 75

## Range

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

In [18]:
list(range(5, 15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [21]:
ar = [10, 30, 20, 50, 60, 40]
for i in range(len(ar)):
    print(f"Index: {i}, Value: {ar[i]}")

Index: 0, Value: 10
Index: 1, Value: 30
Index: 2, Value: 20
Index: 3, Value: 50
Index: 4, Value: 60
Index: 5, Value: 40

In [23]:
for index, value in enumerate(ar):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: 10
Index: 1, Value: 30
Index: 2, Value: 20
Index: 3, Value: 50
Index: 4, Value: 60
Index: 5, Value: 40

In [25]:
list(enumerate(ar))  #converts a list to list of tuples (index, val)

[(0, 10), (1, 30), (2, 20), (3, 50), (4, 60), (5, 40)]

In [1]:
for i in range(1, 7):
    print("*" * i)

*
**
***
****
*****
******

### Nested for Loop

In [4]:
for i in range(5):
    for j in range(3):
        print(j, ennd=" ")

TypeError: 'ennd' is an invalid keyword argument for print()

In [8]:
for i in range(5, -1, -1):
    for j in range(i):
        print(str(j)+" ", end=" ")
    print()

0  1  2  3  4
0  1  2  3
0  1  2
0  1
0

In [10]:
for i in range(5):
    print(" ".join([str(j) for j in range(5 - i)]))

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [12]:
print("\n".join([" ".join([str(j) for j in range(5 - i)]) for i in range(5)]))

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [13]:
#Step 1: Create an empty list and append the values "0", "1", "2", "3", "4"
t = []
for j in range(5):
    t.append(str(j))
print(t)

['0', '1', '2', '3', '4']

In [17]:
#Step 2: Convert the above syntax into list comprehension
t = [str(j) for j in range(5)]
print(t)

['0', '1', '2', '3', '4']

In [18]:
#Alternate step2
t = list(map(str, range(5)))
print(t)

['0', '1', '2', '3', '4']

In [16]:
#Step 3: Convert the array created in step 2 to a single string
s = " ".join(t)
print(s)

0 1 2 3 4

In [24]:
#Step 4: Use the above method in a for loop to get the pattern
for i in range(5):
    t = [str(j) for j in range(5-i)]
    s = " ".join(t)
    print(s)
    
print()
#Compressing the code
for i in range(5):
    print(" ".join([str(j) for j in range(5 - i)]))

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [28]:
#Step 5: Using another list comprehension
print("\n".join([" ".join(([str(j) for j in range(5-i)]) for i in range(5))

### Break and continue

In [30]:
for i in range(10):
    if i == 2:
        continue
    elif i == 6:
        break
    print(i)

0
1
3
4
5

In [32]:
for i in range(10):
    print("\nI loop", i)
    for j in range(5):
        if j==2:
            print("Breaking inner loop")
            break
        print("J loop", j)
    if i == 3:
        print("Breaking outer loop")
        break
print("\nOutside loop")

I loop 0
J loop 0
J loop 1
Breaking inner loop

I loop 1
J loop 0
J loop 1
Breaking inner loop

I loop 2
J loop 0
J loop 1
Breaking inner loop

I loop 3
J loop 0
J loop 1
Breaking inner loop
Breaking outer loop

Outside loop

### Else in for loop

In [33]:
flag = True
for i in range(2):
    print(i)
    if i == 3:
        flag = False
        break
if flag:
    print("No break was executed")
else:
    print("Break was executed")

0
1
No break was executed

In [34]:
ar = [1, 2, 3, 4, 5]
n = 8

for i in ar:
    if n == i:
        print("Number Found")
        break
else:
    print("Number not found")

Number not found